body{
    background-color: #617073;
    margin: 0%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative; 
}

#header{
    text-align: center;
    flex: 1;
    
}

#by{
    position: absolute;
    right: 1vw;
    white-space: nowrap;
}

.custom-dropdown {
    border: 1px solid #92BCEA;
    width: 15rem;
    padding: 1rem;
    background-color: #2a2f3a;
    border-radius: 5px;
    position: relative;
}

.dropdown-item {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    color: #a9acaf;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #3b3f4a;
}

.flag {
    margin-right: 8px;
}

.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 4rem;
    padding-top: 1rem;
    margin: 1rem auto;
    gap: 7vw; 
    background-color: #171A21;
    color: #617073;
    border-radius: 1rem;
    position: relative;
}

.from, .to {
    text-align: center;
    margin-top: 0;
}

input[type="text"] {
    width: 15rem; /* Set a larger width */
    height: 3rem; /* Set a larger height */
    font-size: 1.2rem; /* Increase font size */
    padding: 0.5rem; /* Add padding inside the input box */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #92BCEA; /* Border styling */
    background-color: #2a2f3a; /* Input background color */
    color: #a9acaf; /* Text color */
    outline: none; /* Remove outline on focus */
}

input[type="text"]::placeholder {
    color: #617073; /* Placeholder text color */
}

/* Style the select dropdown */
select {
    width: 16rem; /* Increased width for flags and text */
    height: 3rem; /* Match the height of the input box */
    font-size: 1.2rem; /* Increase font size */
    border-radius: 5px;
    border: 1px solid #92BCEA;
    background-color: #2a2f3a;
    color: #5e6062;
    outline: none;
    margin-top: 2rem;
    padding-left: 0.5rem; /* Add some padding for better visibility */
}

/* Adjust option styling */
select option {
    padding: 0.5rem 1rem; /* Add padding inside the options */
}


.icon{
    font-size: 3rem;
}

@media (max-width: 768px) {
    #by {
        right: 0.5rem; 
    }

    .container {
        flex-direction: column; 
        align-items: center; 
    }

    .dropdown {
        flex-direction: column; 
        gap: 2rem; 
        width: fit-content; 
        height: auto;
        border-radius: 10%;
    
    }
    
    .icon{
        font-size: 2rem;
    }

    .from, .to {
        align-self: center;
    }

    input[type="text"], select {
        width: fit-content; /* Expand the input and dropdown for smaller screens */
        margin-right: 0;
    }
}